apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ namespace_name }}-app"
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: .
    repoURL: "{{ github_repo }}"
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
